body{
    width: 100vw;
    height: 100vh;

    background-image: url(/images/covers/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

#root{
    /* position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    /* width: 1000px;
    height: 9000px; */
    
    width: 100%;
    height: 100%;
}

#profile-form{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 1000px;
    height: 600px;
    
    display: flex;
    gap: 60px;
}

#profile-form div.content-box{
    background-color: #ffffff;
    flex-grow:1  ;
}

#profile-form div.content-box div.cover{
    z-index: 99;

    background-image: url(/images/covers/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    height: 140px;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#profile-form div.content-box div.cover h2{
    background-color: rgb(1, 41, 28,0.65);

    width: 100%;
    height: 50px;
    z-index: 99;

    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

#profile-form .left-content{
    flex-basis:  calc(50% - 30px);
    height: 100%;

    display: flex;
    flex-direction: column;
}


#profile-form .left-content h1{
    font-size: 75px;
    font-weight: 600;
    color: rgb(1, 41, 28,0.75);
    text-transform: uppercase;
    text-align: center;
}

#profile-form .left-content .introduction-box{
    flex-grow: 1;
    background-color: #ffffff;
    width: 100%;
}

#profile-form .left-content .introduction-box{

}

#profile-form div.right-content.personal-data{
    flex-basis:  calc(50% - 30px);
    height: 100%;
    background-color: #ffffff;

    display: flex;
    flex-direction: column;
}

#root div.content-box img.profile-photo{
    width: 130px;
    height: 130px;
    border-radius: 15px;
    object-fit: cover;
}

#root div.action-buttons{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 40px;

    display: flex;
    gap: 40px;
}

#root div.action-buttons button{
    width: 250px;
    height: 60px;

    border-radius: 10px;
    filter: drop-shadow(1px 2px 3px rgba(0, 0, 0, 0.75));

    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
}

#root div.action-buttons button.delete{
    background-color: #006F49;
    color:#ffffff;
}

#root div.action-buttons button.save{
    background-color: #ffffff;
}

/*  -----------------=============77777777777-------------------- */

@media screen and (max-width: 1400px) {
    #profile-form{
        width: 800px;
        height: 460px;

        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        /* background-color: blue; */
    } 

    #profile-form .left-content{
        display: flex;
        position: absolute;
        top: 0;
        left: 0;

        width: calc(50% - 20px);

        height: 100%;
    }

    #profile-form .left-content h1{
        font-size: 45px;
        height: 80px;
        font-weight: 600;
    }

    #profile-form .left-content .introduction-box{
        position: absolute;
        bottom: 0;
        left: 0;
        height: 350px;

        display: flex;
        flex-direction: column;
    }

    #profile-form div.right-content.personal-data{
        display: inline;
        position: absolute;
        top: 0;
        left: calc(50% + 20px);

        width: calc(50% - 20px);
        height: 100%;
    }

    #profile-form div.content-box div.cover{
        height: 100px;
        width: 100%;
    }

    #root div.action-buttons{
        bottom: 20px;
    
        display: flex;
        gap: 15px;
    }
    
    #root div.action-buttons button{
        width: 100px;
        height: 30px;
        border-radius: 5px;

        font-size: 12px;
        filter: drop-shadow(1px 2px 3px rgba(0, 0, 0, 0.75));
        text-transform: uppercase;
    }
}