body{
    width: 100vw;
    height: 100vh;

    background-image: url(/images/covers/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

#root{
    /* position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    /* width: 1000px;
    height: 9000px; */
    
    width: 100%;
    height: 100%;
}

#profile-form{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 1000px;
    height: 600px;
    
    display: flex;
    gap: 60px;
}

#profile-form div.content-box{
    background-color: #ffffff;
    flex-grow:1  ;
}

#profile-form div.content-box div.cover{
    z-index: 99;

    background-image: url(/images/covers/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    height: 140px;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#profile-form div.content-box div.cover h2{
    background-color: rgb(1, 41, 28,0.65);

    width: 100%;
    height: 50px;
    z-index: 99;

    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

/* #profile-form div.content-box .input-data-container{
    width: 100%;
    height: 100%;

    flex-basis:  calc(50% - 30px);
} */

#profile-form .left-content{
    height: 100%;

    display: flex;
    flex-direction: column;
}


#profile-form .left-content h1{
    font-size: 75px;
    font-weight: 600;
    color: rgb(1, 41, 28,0.75);
    text-transform: uppercase;
    text-align: center;
}

#profile-form .left-content .introduction-box{
    flex-grow: 1;
    background-color: #ffffff;
    width: 100%;
}

#profile-form .left-content .introduction-box .introduction-data-container{
    position: absolute;
    top: 140px;
    left: 0;

    width: 100%;
    height: calc(100% - 140px);

    padding: 15px;
}

#profile-form .left-content .introduction-box .introduction-data-container p{
    width: 100%;
    height: 20px;

    font-size: 16px;
}

#profile-form .left-content .introduction-box .introduction-data-container textarea{
    width: 100%;
    height: calc(100% - 20px);
    border: solid;
    padding-top: 10px;

    align-content:center; 
    overflow:auto; 
    /* border: 1px outset red; */
}

/* #profile-form div.right-content.personal-box{
    height: 100%;
    background-color: #ffffff;

    display: flex;
    flex-direction: column;
} */

#profile-form div.right-content.personal-box .profile-photo{
    width: 130px;
    height: 130px;
    border-radius: 15px;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 95px;
}

#profile-form div.right-content.personal-box .profile-photo img{
    position: absolute;
    object-fit: cover;

    width: 100%;
    height: 100%;

    border-radius: 15px;
}

#profile-form div.right-content.personal-box .profile-photo button{
    position: absolute;
    left: 0;
    bottom: 0;
    
    background-color: rgb(97, 99, 101,0.8);

    height: 20px;
    width: 100%;
    
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    color: #ffffff;
    font-size: 10px;
    font-weight: 500;
    font-size: 8px;
}

#profile-form div.right-content.personal-box{
    width: 100%;
    height: 100%;
}

#profile-form div.right-content.personal-box div.personal-data-container{
    position: absolute;
    top: 225px;
    left: 0;
}

#root div.action-buttons{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 40px;

    display: flex;
    gap: 40px;
}

#root div.action-buttons button{
    width: 250px;
    height: 60px;

    border-radius: 10px;
    filter: drop-shadow(1px 2px 3px rgba(0, 0, 0, 0.75));

    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
}

#root div.action-buttons button.delete{
    background-color: #006F49;
    color:#ffffff;
}

#root div.action-buttons button.save{
    background-color: #ffffff;
}

/*  -----------------=============77777777777-------------------- */

@media screen and (max-width: 1400px) {
    #profile-form{
        width: 800px;
        height: 460px;

        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        /* background-color: blue; */
    } 

    #profile-form .left-content{
        display: flex;
        position: absolute;
        top: 0;
        left: 0;

        width: calc(50% - 20px);

        height: 100%;
    }

    #profile-form .left-content h1{
        font-size: 45px;
        height: 80px;
        font-weight: 600;
    }

    #profile-form .left-content .introduction-box{
        position: absolute;
        bottom: 0;
        left: 0;
        height: 350px;

        display: flex;
        flex-direction: column;
    }

    #profile-form div.right-content.personal-box{
        /* display: inline; */
        position: absolute;
        top: 0;
        left: calc(50% + 20px);

        width: calc(50% - 20px);
        height: 100%;
    }

    #profile-form div.content-box div.cover{
        height: 100px;
        width: 100%;
    }

    #profile-form div.content-box div.cover h2{
        height: 40px;
        width: 100%;

        font-size: 16px;
    }

    #profile-form .left-content .introduction-box .introduction-data-container{
        height: calc(100% - 100px);
        top: 100px;
    }

    #profile-form div.right-content.personal-box .profile-photo{
        width: 100px;
        height: 100px;

        border-radius: 10px;

        top: 70px;
    }

    #profile-form div.right-content.personal-box .profile-photo img{
        border-radius: 6px;
    }

    #profile-form div.right-content.personal-box .profile-photo button{
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
    }

    #profile-form div.right-content.personal-box div.personal-data-container{
        position: absolute;
        top: 180px;
        left: 10px;

        width: calc(100% - 20px);
        height: calc(100% - 190px);

        display: grid;
        grid-template-columns: calc(50% - 5px) calc(50% - 5px);
        /* grid-template-rows: calc(40% - 5px) calc(33.3%-7px) calc(33.3%-7px); */
        grid-template-rows: calc(33.3%-7px) calc(33.3%-7px) calc(33.3%-7px);
        grid-row: auto auto;
        grid-gap: 10px;

        padding: 10px;
        /* margin: 10px; */
        /* border:solid; */
        background-color: #006F49;
    }

    #profile-form div.right-content.personal-box div.personal-data-container .input-data{
        /* background-color: RED; */
        border: solid 1px;
    }

    #profile-form div.right-content.personal-box div.personal-data-container .input-data label{
        height: 20px;
        font-size: 16px;
        font-weight: 600;
        /* padding-left: 5px; */
        /* background-color: yellow; */
    }

    #profile-form div.right-content.personal-box div.personal-data-container .input-data input{
        background-color: white;
        border: solid;
    }

    #profile-form div.action-buttons{
        bottom: 20px;
    
        display: flex;
        gap: 10px;
    }
    
    #root div.action-buttons button{
        width: 100px;
        height: 30px;
        border-radius: 5px;

        font-size: 12px;
        filter: drop-shadow(1px 2px 3px rgba(0, 0, 0, 0.75));
        text-transform: uppercase;
    }
}